.Header {
  position: sticky;
  z-index: 50;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #231F20;
}

.Header-logo {
  color: #fff;
  font-size: 24px;
}